.main
    background: $orange
    min-height: 650px
    display: grid
    grid-template-columns: 400px auto
    grid-template-rows: 40px 400px auto
    padding: 30px 80px 130px
    position: relative

    & > .pylogo-main
      z-index: 999
      width: 100px
      margin: 0 auto
      position: absolute
      left: 230px
      top: 220px

    & > .dino
        width: 450px
        background: url(/assets/images/dinosaur.svg)
        bottom: 0
        right: 0
        background-position: 45% 20%
        position: absolute
        height: 350px
        background-size: 115%
        opacity: 0.35

    & > .call
        grid-column: 2
        grid-row: 2
        max-width: 500px
        padding-left: 40px
        padding-top: 50px

        & > div
            display: grid
            grid-template-columns: 50% 50%

            & > .main-name
                grid-column: 1 / 3
                font-size: 125px
                font-weight: 700
                color: #fdf2dc
                text-align: center
                line-height: 105px

            & > .second-name
                grid-row: 2
                grid-column: 2
                font-size: 90px
                font-weight: 700
                color: #fdf2dc
                text-align: right
                line-height: 70px

            & > .date
                display: grid
                grid-template-columns: 50% 50%
                grid-template-rows: 60px 30px 30px 70px

                & > .first-date
                    font-size: 80px
                    font-weight: 600
                    color: #28223e
                    align-self: flex-start
                    line-height: 62px

                & > .second-date
                    font-size: 80px
                    font-weight: 600
                    color: #28223e
                    grid-row: 1 / 3
                    grid-column: 2
                    align-self: flex-end
                    line-height: 62px
                    text-align: center

                & > .year
                    font-size: 65px
                    font-weight: 700
                    color: #28223e
                    align-self: flex-end
                    line-height: 62px
                    justify-self: right
                    grid-column: 1 / 3
                    padding-right: 10px

                & > .conexion-label
                    font-size: 35px
                    text-align: right
                    line-height: 22px
                    align-self: flex-end
                    color: #fdf2dc

                & > .month-label
                    grid-column: 1 / 3
                    justify-self: right
                    padding-right: 15px
                    font-size: 35px
                    text-align: right
                    line-height: 22px
                    align-self: flex-end
                    color: #fdf2dc
    & > .sun
        grid-row: 2
        grid-column: 1

    & > .nav
        grid-row: 1
        grid-column: 2

        & > .header
            list-style: none
            background: $black
            line-height: 40px
            float: right
            border-radius: 50px
            padding: 0 20px

            & > ul
                list-style: none

                & > li
                    display: inline-block
                    vertical-align: top

                    & > a
                        text-decoration: none
                        padding: 0 20px
                        color: $yellow-three

.sun
    background: #f4ad77
    width: 400px
    height: 400px
    position: relative
    border-radius: 50%

    &:before
        content: ' '
        display: block
        width: 280px
        height: 280px
        top: 60px
        left: 60px
        position: absolute
        background: #f1ba91
        border-radius: 50%

    &:after
        content: ' '
        display: block
        width: 160px
        height: 160px
        top: 120px
        left: 120px
        position: absolute
        background: #fdf2dc
        border-radius: 50%
