.main
    background: $orange
    background-image: linear-gradient(to bottom, #e86d4b 50%, #f0a85e)
    min-height: 650px
    position: relative

    .nav-mobile
        width: 50px
        height: 50px
        border-radius: 50%
        background: $black
        position: fixed
        right: 20px
        top: 20px
        cursor: pointer
        z-index: 10px

        &.close > .hamburguer
            background: transparent

            &:after
                top: 0px
                transform: rotateZ(-45deg)

            &:before
                top: 0px
                transform: rotateZ(45deg)

        .hamburguer
            height: 4px
            margin: 0 auto
            background: #fdf2dc
            width: 20px
            position: relative
            top: calc(50% - 2px)

            &:before, &:after
                content: ' '
                position: absolute
                height: 4px
                width: 20px
                background: #fdf2dc

            &:after
                top: -8px

            &:before
                top: 8px

        @media screen and (min-width: 1024px)
            display: none

    & > .dino
        width: 450px
        background: url(/assets/images/dinosaur.svg)
        bottom: 0
        right: 0
        background-position: -50% 20%
        position: absolute
        background-size: 115%
        opacity: 0.35
        height: 300px

        @media screen and (min-width: 0px)
            height: 350px

    & > .call
        background: url(/assets/images/main-date.svg)
        background-position: center
        background-size: contain
        background-repeat: no-repeat
        width: 80%
        height: 300px
        display: block
        position: absolute
        top: 100px
        right: 10%

        @media screen and (min-width: 600px)
            width: 100%
        @media screen and (min-width: 1024px)
            width: 50%


    & > .sun
        display: none

        @media screen and (min-width: 1024px)
            position: absolute
            top: 100px
            left: 10%
            display: block

            background: #f4ad77
            width: 400px
            height: 400px
            border-radius: 50%

        &:before
            content: ' '
            display: block
            width: 280px
            height: 280px
            top: 60px
            left: 60px
            position: absolute
            background: #f1ba91
            border-radius: 50%

        &:after
            content: ' '
            display: block
            width: 160px
            height: 160px
            top: 120px
            left: 120px
            position: absolute
            background: #fdf2dc
            border-radius: 50%
    & > .nav
        z-index: 6

        & > .header
            position: fixed
            top: 0
            bottom: 0
            z-index: 5
            width: 100%
            border-radius: 0
            background: $black
            display: none

            &.active
                display: block

            & > ul
                list-style: none

                & > li
                    font-size: 24px
                    text-align: center
                    padding: 24px

                    & > a
                        text-decoration: none
                        padding: 0 24px
                        color: $yellow-three

            @media screen and (min-width: 1024px)
                top: 10px
                right: 10px
                bottom: auto
                width: auto
                display: block
                list-style: none
                line-height: 24px
                float: right
                border-radius: 50px
                padding: 0 24px

                & > ul > li
                    display: inline-block
                    vertical-align: top
                    font-size: 16px
                    padding: 16px

    & > .pylogo-main
      background: url(/assets/images/python_brasil_logo_white.png)
      background-repeat: no-repeat
      background-size: contain
      background-position: center
      display: block
      width: 200px
      height: 50px
      position: absolute
      top: 25px
      left: 10px

      @media screen and (min-width: 1024px)
          top: 10px
          left: 5%
