<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Brasil 2019</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    {{> main }}
    {{> about }}
    {{> keynotes }}
    {{> lineup }}
    {{> sponsors }}
    {{> prefooter }}
    {{> footer }}

    <script src="/assets/scripts/index.js"></script>
</body>
</html>
