<div class="rounded about" id="section-about">
    {{{ about.html }}}
    <div class="local">
      <div class="signal ouro">
          {{>pylogo }}
          <a href="https://goo.gl/maps/m7ttyu5CCnBjobmD7" target="_blank">veja o local</a>
      </div>
    </div>
</div>
