<div class="rounded about" id="section-about">
    {{{ about.html }}}
    <div class="local">
      <div class="signal {{type}}">
          {{>pylogo }}
          <a href="https://goo.gl/maps/m7ttyu5CCnBjobmD7" target="_blank">Veja o local</a>
      </div>
    </div>
    <div class="ccrp"></div>
</div>
