<div class="rounded cityguide" id="section-cityguide">
    <h2> Guia da Cidade </h2>
    <div class="cityguide-section" id="section-cityguides">
        <h3> Onde ficar </h3>
        {{#each hotels}}
            <div class="hotel">
                <img src="/assets/images/hotels/{{meta.photo}}" alt="{{meta.name}}">
                {{!-- <div class="photo" style="background-image: url('/assets/images/hotels/{{meta.photo}}')">
                </div> --}}
                <div class="content">
                    {{{ html }}}
                </div>

            </div>
        {{/each}}
    </div>
</div>
