<footer class="rounded footer">
    <div>
        <div class="nav">
            {{#each footer.nav}}
                <ul>
                    <li class="header">{{title}}</li>
                    {{#each items}}
                        <li class="item">
                            <a href={{link}}>
                                {{text}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
        <div class="social">
            <a href='' class="button">
                Adquira seu Ingresso
            </a>
            <a>

            </a>
            <a>
                
            </a>
            <a>
                
            </a>
        </div>
        <div class="copyright">
            
        </div>
    </div>
</footer>