<footer class="rounded footer">
    <div class="nav">
        {{#each footer.nav}}
            <ul>
                <li class="header">{{title}}</li>
                {{#each items}}
                    <li class="item">
                        <a href={{link}}>
                            {{text}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>
    <div class="social">
        
    </div>
    <div class="copyright">
        
    </div>
</footer>