<div class="rounded keynote" id="section-keynote">
    <h2> Programação & Keynotes </h2>
    <div class="soon">
      <p>em breve mais informações</p>
    </div>
    <div class="submit">
      <p>Tem interesse em palestrar na Python Brasil? Envie uma proposta.</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSewP4sxv1mz1J1mP-yl0xRdFRM_DQRTIIhroA9I-J6wEE3MjA/viewform" target="_blank">submeter uma palestra</a>
    </div>
    <!-- {{#each keynotes}}
        <div class="keynoter">
            <div class="photo" style="background-image: url('/assets/images/keynotes/{{meta.photo}}')"></div>
            <div class="content">
                {{{ html }}}
            </div>
            <div class="social">
              {{#if social}}
                <a href="{{social}}"></a>
              {{/if}}
              {{#if twitter}}
                <a href="{{twitter}}"></a>
              {{/if}}
            </div>
        </div>
    {{/each}} -->
</div>
