<div class="rounded keynote" id="section-keynote">
    <h1> Keynotes </h1>

    <div class="soon">
      <div class="dino"></div>
      <p>em breve mais informações</p>
    </div>
    <!-- {{#each keynotes}}
        <div class="keynoter">
            <div class="photo" style="background-image: url('/assets/images/keynotes/{{meta.photo}}')"></div>
            <div class="content">
                {{{ html }}}
            </div>
            <div class="social">
              {{#if social}}
                <a href="{{social}}"></a>
              {{/if}}
              {{#if twitter}}
                <a href="{{twitter}}"></a>
              {{/if}}
            </div>
        </div>
    {{/each}} -->
</div>
