<div class="rounded lineup" id="section-lineup">
    <h2> Programação </h2>

    <div class="soon">
      <div class="dino"></div>
      <p>em breve mais informações</p>
    </div>
    <div class="tutorial">
      <h3>Submissão de Sprints Python Brasil 2019</h3>
      <p>O Sprint é um espaço proporcionado pela conferência Python Brasil para desenvolvimento e contribuição de projetos open source.</p>
      <a href="https://speakerfight.com/events/submissao-de-sprints-python-brasil-2019/" target="_blank" class="button">submeta seu sprint</a>
    </div>
</div>
