<div class="rounded lineup" id="section-lineup">
    <h2> Programação </h2>

    <div class="soon">
      <div class="dino"></div>
      <p>em breve mais informações</p>
    </div>
    <div class="tutorial">
      <h3>Submissão de Tutoriais Python Brasil 2019</h3>
      <p>Tutoriais são atividades práticas, onde os participantes têm contato com a linguagem Python e tecnologias relacionadas. Convidamos pessoas a compartilhar conhecimento e submeterem propostas de tutoriais.</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSde97kCiT3kTcQ5pu47PXtYOCJW_wD9Lc5rfKgEFll2Ar28xg/viewform?usp=sf_link" target="_blank" class="button">submeta seu tutorial</a>
    </div>
</div>
