<div class="main">
    <div class="dino"></div>
    <div class="sun"></div>
    <div class="nav">
        <nav class="header">
            <ul>
                <li>
                    <a href="">evento</a>
                </li>
                <li>
                    <a href="">keynotes</a>
                </li>
                <li>
                    <a href="">programação</a>
                </li>
                <li>
                    <a href="">patrocinio</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="call">
        <div>
            <div class="main-name">
                Ribeirão
            </div>
            <div class="second-name">
                Preto
            </div>
            <div class="date">
                <div class="core first-date">23</div>
                <div class="core second-date">28</div>
                <div class="label conexion-label">a</div>
                <div class="label month-label">de outubro</div>
                <div class="core year">2019</div>
            </div>
        </div>
    </div>
</div>