<div class="main" id="section-main">
    <div class="dino"></div>
    <div class="sun">
        <div class="pylogo-main">
            {{>pylogo }}
        </div>
    </div>
    <div class="mobile pylogo-main">
        {{>pylogo }}
    </div>

    <div class="nav-mobile" id="mobile">
        <div class="hamburguer"></div>
    </div>

    <div class="nav">
        <nav class="header" id="header-nav">
            <ul>
                <li>
                    <a href="#section-about">evento</a>
                </li>
                <li>
                    <a href="#section-keynote">keynotes</a>
                </li>
                <!-- <li>
                    <a href="#section-lineup">programação</a>
                </li> -->
                <li>
                    <a href="#section-sponser">patrocinio</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="call"></div>
</div>
