<div class="main" id="section-main">
    <div class="cloud"></div>
    <div class="dino"></div>
    <div class="mobile pylogo-main"></div>
    <div class="app-banners-container">
        <div class="app-banners">
            <p>
                Baixe o app para acompanhar a grade do evento, escolher suas atividades e receber notificações.
            </p>
            <div class="stores-banners">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.pybr2019">
                    <img src="/assets/images/google-play-badge.png" alt="Baixe no Google Play">
                </a>
                <a target="_blank" href="https://apps.apple.com/br/app/python-brasil-2019/id1484160206?l=en">
                    <img class="apple" src="/assets/images/download-on-appstore.svg" alt="Baixe na AppStore">
                </a>
            </div>
        </div>
    </div>

    <div class="nav-mobile" id="mobile">
        <div class="hamburguer"></div>
    </div>

    <div class="nav">
        <nav class="header" id="header-nav">
            <ul>
                <li>
                    <a href="#section-about">evento</a>
                </li>
                <li>
                    <a href="#section-keynote">keynotes</a>
                </li>

                <li>
                    <a href="#section-cityguide">guia</a>
                </li>

                <li>
                    <a href="/grade">programação</a>
                </li>
                <li>
                    <a href="#section-tutoriais">tutoriais</a>
                </li>
                <li>
                    <a href="https://pythonbrasil2019.eventbrite.com.br" target="_blank">ingressos</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="call"></div>
    <div class="main-button">
        <a href='https://pythonbrasil2019.eventbrite.com.br' target="_blank" class="button">
            adquira seu ingresso
        </a>
    </div>
</div>