<div class="rounded lineup" id="section-tutoriais">
  <h2>Tutoriais</h2>
  <div class="tutorial">
    <h3>Faça a sua inscrição ->gratuitamente<- para os<br>Tutoriais da Python Brasil 2019</h3>
    <p>Tutoriais são atividades práticas, onde os participantes têm contato com a linguagem Python e tecnologias relacionadas. Os tutoriais da Python Brasil 2019 acontecerão nos dias 23 e 24 de Outubro, no Centro Universitário Estácio, em Ribeirão Preto - SP.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6i4kMlGYDSXdvgkiMgBzjTkjxI-dCOl98RiapKu3TroOBbg/viewform" target="_blank" class="button">Inscrições</a>
  </div>
</div>
