html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.grade {
    padding: 20px 20px 20px 20px;
    flex: 1 0 auto;
}

footer {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: white;
    font-size: 30px;
    background: black;
    flex-shrink: 0;
}

footer>a,
footer>a:visited {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

.footer-title {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
}

.footer-title :visited {
    color: white;
}

.space {
    flex-grow: 1;
}

.python-logo {
    width: 30px;
    height: 30px;
}

.made-with {
    text-align: right;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.made-with a,
.made-with a:active {
    text-decoration: underline;
    color: white;
}

.made-with a:hover {
    text-decoration: none;
}

.made-with span {
    color: #f56b6b;
}

.fc-list-item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meta {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.speaker {
  color: hsla(146, 100%, 20%, 1.0);
  background: #01FF70;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 20px;
}

.room {
  color: #7FDBFF;
  background: #001f3f;
  padding: 2px 6px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .fc-list-item {
    display: flex;
    flex-direction: column;
  }

  .fc-list-item-marker {
    display: none;
  }
  .fc-list-item-time,
  .fc-list-item-title {
    border-width: 0;
  }

  .fc-list-item-title {
    flex-direction: column;
  }

  .fc-list-item td:last-child {
    border-bottom-width: 1px !important;
  }

  .fc-list-table td {
    border-width: 0;
  }

  .meta {
    margin-top: 10px;
  }

  .speaker {
    margin-right: 0;
  }
}
