html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.grade {
    padding: 20px 20px 20px 20px;
    flex: 1 0 auto;
}

footer {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: white;
    font-size: 30px;
    background: black;
    flex-shrink: 0;
}

footer>a,
footer>a:visited {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

.footer-title {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
}

.footer-title :visited {
    color: white;
}

.space {
    flex-grow: 1;
}

.python-logo {
    width: 30px;
    height: 30px;
}

.made-with {
    text-align: right;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.made-with a,
.made-with a:active {
    text-decoration: underline;
    color: white;
}

.made-with a:hover {
    text-decoration: none;
}

.made-with span {
    color: #f56b6b;
}

.fc-list-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meta {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.speaker {
    color: rgb(97, 88, 25);
    background: #FFDC00;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 20px;
}

.room {
    color: #7FDBFF;
    background: #001f3f;
    padding: 2px 6px;
    border-radius: 4px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    /* Black fallback color */
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#overlay-title {
    padding-right: 35px;
}

.overlay-content {
    margin: auto;
    width: 80%;
}

.overlay .close-full-detail {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#overlay-author,
#overlay-room {
    padding: 4px 8px;
}

@media only screen and (max-width: 600px) {
    .fc-list-item {
        display: flex;
        flex-direction: column;
    }
    .fc-list-item-marker {
        display: none;
    }
    .fc-list-item-time,
    .fc-list-item-title {
        border-width: 0;
    }
    .fc-list-item-title {
        flex-direction: column;
    }
    .fc-list-item td:last-child {
        border-bottom-width: 1px !important;
    }
    .fc-list-table td {
        border-width: 0;
    }
    .meta {
        margin-top: 10px;
    }
    .speaker {
        margin-right: 0;
    }
}